body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100%;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

#title {
    font-size: 23px;
    color: coral;
}

.sign_log_part {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#page_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: cornflowerblue;
}

#page_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: cadetblue;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vertical-line-home {
    border-left: 3px solid black;
    height: 100%;
}

#vertical-line-game {
    position: relative;
    border-left: 3px solid black;
    height: 100%;
    z-index: 0;
}

.form-field {
    margin-bottom: 10px;
    padding: 10px;
}

.input {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background: #fff;
    font: inherit;
}

.btn {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    font-size: 10px;
}

#error {
    color: red;
}

.resume-job-board {
    text-align: center;
}
