body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100%;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

h2 {
    font-weight: 500;
}

#title {
    font-size: 23px;
    color: black;
}

.page {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.header {
    text-align: center;
    background-color: whitesmoke;
    width: 500px;
}

.page-blue, .page-green {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid black;
    margin-bottom: 10px;
}

.page-blue {
    background-color: cornflowerblue;
}

.page-green {
    background-color: cadetblue;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.input-label {
    padding: 0px 5px 10px 5px;
    font: inherit;
    font-size: 14px;
    font-weight: 400;
}

.input, .input-drop-down {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background: #fff;
    font: inherit;
}

.input-area {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background: #fff;
    font: inherit;
}

.btn {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    font-size: 10px;
}

#error {
    color: red;
}

.resume-job-board {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-top: 3px solid black;
}

.resume-job-list {
    width: auto;
    font-size: 14px;
    font-weight: 500;
}
